<div class="d-flex w-100 align-items-center loginwrp">
    <div class="container py-3">
        <div class="col-md-4 mx-auto">
            <div class="border p-3 shadow-lg rounded bg-white">
                <h5 class="text-center mb-4">Account Login</h5>
                <form [formGroup]="loginForm" (ngSubmit)="signIn()">
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="name" placeholder="Your name">
                        <div *ngIf="isSubmitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors['required']">{{errorsMessages.required_name}}</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                        <div *ngIf="isSubmitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">{{errorsMessages.required_email}}</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password">
                        <div *ngIf="isSubmitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">{{errorsMessages.required_password}}</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-dark">Login</button>
                        <button (click)="signup()" class="btn btn-dark btn-cancel ms-2">Signup</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- required_email: 'Email is required',
    vaild_email: 'Email must be a valid email',
    required_name: 'Name is required',
    required_password: 'Password is required',
    valid_password: 'Password must have atleast 6 digits of length' -->